<div class="container">
  <h1>Scores</h1>
  <div>
    <p>{{ player_1!.name }}: {{ player_1!.score }}</p>

    <p>{{ player_2!.name }}: {{ player_2!.score }}</p>
  </div>
  <button routerLink="/">Back to Game</button>
</div>
