.board {
  display: inline-block;
  margin-top: 20px;

  .row {
    display: flex;

    .cell {
      width: 60px;
      height: 60px;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 24px;
    }
  }
}
