<div class="board">
  <div class="row" *ngFor="let row of gameboard; let i=index">
      <div class="cell" *ngFor="let cell of row; let j=index" (click)="place_marker(i, j)">
        {{ cell }}
      </div>
  </div>
</div>
