<div class="container">
  <h1>Morpion</h1>
  <div class="game-zone">
      <div class="scoreboard">
        <form action="">
          <p class="error-message" *ngIf="error != '' ">{{ error }}</p>
          <label for="">PlayerX:
            <input type="text" [formControl]="player_x" (input)="setPlayers()">
          </label>
          <label for="">PlayerO:
            <input type="text" [formControl]="player_o" (input)="setPlayers()">
          </label>
        </form>
        <div class="btn-zone">
            <button (click)="cleanArea()">Clean area</button>
            <button routerLink="/scores">View scores</button>
            <hr>
            <button (click)="resetGame()">Reset Game</button>
        </div>
      </div>
      <div class="game-area">
        <p *ngIf="has_winner">Winner: {{ showWinner() }}</p>
        <app-board [command]="area_command" [restore]="restore" (action)="handle_board_action($event)"></app-board>
      </div>
  </div>
</div>
