.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-zone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .scoreboard{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 250px;
      margin-right: 50px;

      .error-message{
        color: #7e0101;
      }

      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
          margin-bottom: 15px;;
          input{
            max-width: 150px;
          }
        }
      }
      .btn-zone{
        display: flex;
        flex-direction: column;
        button {
          margin-bottom: 5px;
        }
      }
    }
  }
}



